<html>
<head>
	<%= javascript_include_tag :all %>
	<%= stylesheet_link_tag :all %>
	
</head>
<body>
	<div id="content">
		<p>
			<%= render :partial => "users/login" %>
		</p>
		<%= yield %>
	</div>
</body>
</html>
